@tailwind base;
@tailwind components;
@tailwind utilities;

.icons-div {
    @apply flex relative bottom-0.5 w-1/5 justify-around;
    bottom: 1.125rem;
    left: 39rem;
}

.icons-for-article1 {
    @apply flex relative bottom-0.5 justify-around;
    width: 47%;
    bottom: 1.125rem;
    left: 13rem;
}

.icons-for-article2 {
    @apply flex relative bottom-0.5 justify-around;
    width: 20%;
    bottom: 1.125rem;
    left: 22rem;
}

.icons-for-article3 {
    @apply flex relative bottom-0.5 justify-around;
    width: 33%;
    bottom: 1.125rem;
    left: 18rem;
}

.tag-and-button-div-3 {
    /* margin-top: 1rem; */
}

.tag-and-button-div-4 {
    margin-top: 2rem;
}

.tag-div {
    margin-bottom: 20px;
}

.button-div-main {
    @apply flex relative bottom-0.5 justify-around;
    width: 20rem;
    left:  22rem;
}

.button-div {
    @apply flex relative bottom-0.5 justify-around;
    width: 20rem;
    left: 5rem;
}

.img-2 {
    height: 15rem;
    width: auto;
}
