@tailwind base;
@tailwind components;
@tailwind utilities;

.icons-div {
    position: relative;
    bottom: 0.125rem;
    display: flex;
    width: 20%;
    justify-content: space-around;
    bottom: 1.125rem;
    left: 39rem;
}

.icons-for-article1 {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 47%;
    bottom: 1.125rem;
    left: 13rem;
}

.icons-for-article2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 20%;
    bottom: 1.125rem;
    left: 22rem;
}

.icons-for-article3 {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 33%;
    bottom: 1.125rem;
    left: 18rem;
}

.tag-and-button-div-3 {
    /* margin-top: 1rem; */
}

.tag-and-button-div-4 {
    margin-top: 2rem;
}

.tag-div {
    margin-bottom: 20px;
}

.button-div-main {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    left:  18rem;
}

.button-div {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 20rem;
    left: 5rem;
}

.img-2 {
    height: 15rem;
    width: auto;
}
